AZURE_STORAGE_ACCOUNT="{{ blobfuse2_azure_storage_account }}"
AZURE_STORAGE_ACCESS_KEY="{{ blobfuse2_azure_storage_access_key }}"
AZURE_STORAGE_ACCOUNT_CONTAINER="{{ blobfuse2_azure_storage_account_container }}"
