[Unit]
Description=A virtual file system adapter for Azure Blob storage.
After=network-online.target
Requires=network-online.targe

[Service]
User=root
Group=root
EnvironmentFile=/etc/default/blobfuse2
Type=forking
ExecStart=/usr/bin/blobfuse2 mount {{ blobfuse2_mounting_point }} --config-file=/usr/share/blobfuse2/config.yaml  --ignore-open-flags
ExecStop=/usr/bin/blobfuse2 unmount all

[Install]
WantedBy=multi-user.target
